extends ../../layouts/default
block main 
    .singer-detail
        .container.my-3
            .row
                .col-12
                    .inner-title #{song.title}
                    .inner-actions
                        div(class="inner-action inner-time")
                            i(class="fa-regular fa-clock") 
                            |20/10/2023
                        div(class="inner-action inner-singer")
                            i(class="fa-solid fa-microphone-lines") 
                            | #{singer.fullName}
                        div(class="inner-action inner-topic")
                            i(class="fa-solid fa-music") 
                            |   #{topic.title}
                        div(class="inner-action inner-listen" )
                            i(class="fa-solid fa-headphones") 
                            span #{song.listen} lượt nghe  
                        div(class="inner-action inner-dowload")
                            a(href=`/songs/download?file_url=${song.audio}`) 
                                i(class="fa-solid fa-download") 
                                span Tải về                                
                        div(class=`inner-action inner-like ${song.isLikeSong ? 'active' : ''}`  button-like=song.id)
                            i(class="fa-regular fa-thumbs-up") 
                            span #{song.likeCount} thích
                        div(class=`inner-action inner-heart ${song.isFavoriteSong ? 'active' : ''}` button-favorite=song.id)
                            i(class="fa-regular fa-heart" ) 
                            |Bài hát yêu thích
                        div(class=`inner-action inner-heart active}` button-playlist=song.id)
                            i(class="bx bx-heart-circle" style="font-size: 18px;") 
                            |Thêm vào playlist
                    .inner-play
                        .inner-avatar 
                            img(src=song.avatar alt=song.title)
                        .inner-audio
                            //- audio(controls)
                            //-     source(src="https://backend.daca.vn/assets/audios/cat-doi-noi-sau.mp3")
                            div(id="aplayer" data-song=song data-singer=singer)
                    
                    .inner-desc
                        .inner-label Mô tả
                        .inner-text !{song.description} 
                    .inner-desc
                        .inner-label Lời bài hát
                        .inner-text !{song.rawLyrics} 
        div(id="modal-list-playlist")
            div(class="playlist-modal")
                div( class="modal-header create-play")
                    div(class="d-flex model-content") <span class="plus-icon">+</span>
                        span(class="modal-title ms-2") Tạo playlist mới
                ul(class="playlist-list")
                        
        
        div(id="createModalPlaylist")
            div(class="modal-content")
                div(class="modal-header")
                    div(class="modal-title-playlist") Tạo playlist mới
                    button(class="close-button") &times;
                input(type="text" class="playlist-input" placeholder="Nhập tên playlist")
                lable(class="invalid-feedback")
                button(class="create-btn") TẠO MỚI
    script(src="https://unpkg.com/aplayer/dist/APlayer.min.js")
    script(src="/js/detail.js") 
                                                