extends ../../layouts/default
block main
   .container.mt-5
      .row
        .col-12
            .our-menu.mb-2
                h2
                    span Top 30 bài hát nhiều like nhất
                .inner-dir
      .row.mt-3
        each item in songs
          .col-xl-3.col-md-6.mb-3
            .playlist-card
              div(class="song-item")
                div(class="inner-image")
                    a(href=`/songs/detail/${item.slug}`)
                      img(src=item.avatar)
                div(class="inner-content")
                    div(class="inner-title")
                        a(href=`/songs/detail/${item.slug}`) #{item.title}
                    div(class="inner-singer") <i class="fa-solid fa-microphone-lines"></i> #{item.infoSinger.fullName}
                    div(class="inner-like") <i class="fa-solid fa-thumbs-up"></i> #{item.likeCount}
                    //- tự làm thời gian tạo
                    div(class="inner-time") <i class="fa-regular fa-clock"></i> Hôm nay