extends ../../layouts/user.pug
block main 
    .Register
        form(action="/user/register" method="POST" id="formsig")
            section.sectionSigin
                .section-S-right
                    .text-info
                        h1(style="color: #FFC800;") Đăng ký
                        p
                            b(style="color: black;") xin chào bạn!
                    .input-type
                        .input-type-name.form-group.mb-3.mt-3
                            i(class="fa-solid fa-users")
                            input(id="fullName"  type="text" placeholder="         Họ và tên" value=messages.nameValue ? messages.nameValue[0] : '' name="fullName")
                            if(messages.nameError)
                                lable(id="name-error" class="error invalid-feedback1" for="fullName" style="display:block") #{messages.nameError} 
                            lable(id="name-error" class="error invalid-feedback1" for="full_name" ) Vui lòng nhập họ và tên
                        .input-type-email.form-group.pt-2
                            i(class="fa-solid fa-users")
                            input(id="email" type="text" name="email" placeholder="         Email" value=messages.emailValue ? messages.emailValue[0] : '' class="")
                            if(messages.emailError)
                                lable(id="email-error" class="error invalid-feedback1" for="full_name" style="display:block") #{messages.emailError} 
                            lable(id="email-error" class="error invalid-feedback1" for="full_name" ) Vui lòng nhập email
                        .input-type-password.form-group
                            i(class="fa-solid fa-lock")
                            input(id="password" type="password" name="password" placeholder="         Mật khẩu" value="")
                            if(messages.passwordError)
                                lable(id="password-error" class="error invalid-feedback1" for="password" style="display:block") #{messages.passwordError} 
                            lable(id="password-error" class="error invalid-feedback1" for="password" ) Vui lòng nhập mật khẩu
                        .input-type-password.form-group.pb-3
                            i(class="fa-solid fa-lock")
                            input(id="confirmPassword" type="password" name="confirmPassword" placeholder="         Xác nhận mật khẩu" value="")
                            if(messages.confirmPasswordError)
                                lable(id="confirmPassword-error" class="error invalid-feedback1" for="confirmPassword" style="display:block") #{messages.confirmPasswordError} 
                            lable(id="confirmPassword-error" class="error invalid-feedback1" for="confirmPassword" ) Vui lòng nhập xác nhận mật khẩu
                    button(type="submit" button-register) Đăng ký
                p(class="not-account") <a href="/user/login">Bạn đã có tài khoản chưa? đăng nhập ngay bây giờ!</a>